- if user_signed_in?
  %h3
    = link_to "ログアウト", destroy_user_session_path, method: :delete
- else
  %h3
    = link_to "新規会員登録", new_user_registration_path
  %h3
    = link_to "ログイン", new_user_session_path