.boards-index-top
  .boards-index-top__title
    スレッド一覧
  - if @boards.present?
    .boards-index-top__board-list
      - @boards.each do |board|
        .boards-index-top__board-list__link
          = link_to board_path(board) do
            = board.id
            = board.title
  - else
    .boards-index-top__board-link-none
      スレッドがまだありません