.boards-search-top{
  width: 900px;
  margin: 20px auto;
  &__none{
    font-size: 24px;
  }
  &__title{
    font-size: 24px;
  }
  &__list{
    margin-top: 20px;
    &__content{
      margin-top: 10px;
      font-size: 18px;
    }
  }
}